<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/customer_service.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title>Prosiembra</title>
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="{% static 'images/logo.jpg' %}" alt="Logo de la empresa">
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="{% url 'main' %}" title="Nosotros">Inicio</a></li>
                <li><a href="{% url 'profile'%}" title="Mi Perfil">Mi Perfil</a></li>
                <li><a href="{% url 'we' %}" title="Nosotros">Nosotros</a></li>
                <li><a href="{% url 'products' %}" title="Productos">Productos</a></li>
            </ul>
        </nav>
        <a href="{% url 'logout' %}" class="btn"><button>Cerrar Sesión</button></a>
    </header>
    <div class="container">

        <div class="faq">
            <h3>¿Cómo puedo contactar al servicio de atención al cliente?</h3>
            <p>Puedes contactarnos iniciando un chat via WhatsApp en el siguiente link: <a href="https://wa.me/+573107773392">WhatsApp</a> o por correo electrónico a <a href="mailto:fundacionprosiembra@gmail.com">fundacionprosiembra@gmail.com</a>.</p>
        </div>

        <div class="faq">
            <h3>¿Cuál es el tiempo de respuesta para las quejas y reclamos?</h3>
            <p>El tiempo de respuesta para las quejas y reclamos es de 24 a 48 horas hábiles.</p>
        </div>
    </div>
    <h1>Formulario de PQRS</h1>
    <form action="#" method="post">
        {% csrf_token %}
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>

        <label for="correo">Correo Electrónico:</label>
        <input type="email" id="correo" name="correo" required>

        <label for="tipo_pqrs">Tipo de PQRS:</label>
        <select id="tipo_pqrs" name="tipo_pqrs" required>
            <option value="Peticion">Peticion</option>
            <option value="Queja">Queja</option>
            <option value="Reclamo">Reclamo</option>
            <option value="Sugerencia">Sugerencia</option>
        </select>

        <label for="mensaje">Mensaje:</label>
        <textarea id="mensaje" name="mensaje" required></textarea>

        <input type="submit" value="Enviar">
    </form>
    <div class="caja-negra">
        <p>Contacto</p>
        <a href="https://www.facebook.com/fundacionprosiembra">
            <i class='bx bxl-facebook-circle'></i>
        </a>
        <a href="https://api.whatsapp.com/send?phone=+57310777392">
            <i class='bx bxl-whatsapp'></i>
        </a>
        <a href="mailto:fundacionprosiembra@gmail.com.">
            <i class='bx bx-envelope'></i>
        </a>
        <a href="https://www.instagram.com/f.prosiembra/">
            <i class='bx bxl-instagram'></i>
        </a>
        <a href="{% url 'customer'%}">
        <p class="pq">Solicitud PQR'S aqui</p>
    </a>
        <ol class="lista">
            <li>Peticones</li>
            <li>Quejas</li>
            <li>Reclamos</li>
            <li>Sugerencias</li>
        </ol>
    <a href="https://www.google.com/maps/place/Org%C3%A1n%C3%ADco/@4.6197658,-74.0719676,3a,75y,236.22h,100.72t/data=!3m6!1e1!3m4!1sZEU12-JrtGhlwHr2xYa8Jw!2e0!7i16384!8i8192!4m9!1m2!2m1!1sestacion+calle+26!3m5!1s0x8e3f99839a353505:0x8a4b7c190dc10eb8!8m2!3d4.6197155!4d-74.0721518!16s%2Fg%2F11j130sk5k?entry=ttu" class="maps">
        Nuestra Sede</a>
        <ul class="direccion">
            <li>Calle 31a #16-23</li>
            </ul>
    </div>
</body>
</html>
