<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">

    <title>Prosiembra</title>
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="{% static 'images/logo.jpg' %}" alt="Logo de la empresa">
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="{% url 'main'%}" title="Inicio">Inicio</a></li>
                <li><a href="{% url 'we' %}" title="Nosotros">Nosotros</a></li>
                <li><a href="{% url 'products' %}" title="Productos">Productos</a></li>
            </ul>
        </nav>
        <a href="{% url 'logout' %}" class="btn"><button>Cerrar Sesión</button></a>
    </header>
    <div id="profile">
        <div id="cover-photo"></div>
        <div id="profile-photo"></div>
        <div id="profile-info">
            <h1>Carlos Perez</h1>
            <p>Ciudad: Bogotá</p>
            <p>Fecha de nacimiento: 24/01/2006</p>
        </div>
        <div id="post">
            <textarea id="post-text" placeholder="Recomendaciones"></textarea>
        </div>
        <div class="cita">
            <button id="agendar-cita-button"><a href="https://api.whatsapp.com/send?phone=+57310777392">Agendar Cita</a></button>
        </div>
    </div>
</body>
</html>
