<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
<link rel="stylesheet" type text="text/css" href="{% static 'css/style.css' %}">
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prosiembra.com</title>
</head>
<body>
 
    <div class="formulario">
        <h1>Bienvenido</h1>
        <form method="post">
            <div class="Username">
                <input type="text" required>
                <label>Nombre de usuario</label>
            </div>

        <div class="contraseña">
            <input type="password" required>
            <label>Contraseña</label>
        </div>
        
        <div class="recordar">¿Olvido su contraseña?</div>

        <input type="submit" value="Iniciar sesion">
        
        <div class="registrarse">
            No tengo una cuenta. <a href="#">Registrese ahora</a>
        </div>
        </form>
    </div>
    <div class="container">
    <img src="https://scontent-bog1-1.xx.fbcdn.net/v/t39.30808-6/313198164_2085829238294243_5854846049116671500_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeHkbtsWJquir4fNpRM0nP0axVWP2_MeEPbFVY_b8x4Q9uOBE8esqvA_678QO3h3J9oVNJKFGiy6n07S72KSAaFC&_nc_ohc=FGrYtt5huT0AX9qY0yX&_nc_ht=scontent-bog1-1.xx&oh=00_AfB7BJbuKovyL6qn75n7HwbfO3qNGkhbRY0BYuJUxk55Xg&oe=64EA128D" class="Prosiembra1">
    <h2>Nosotros</h2>
</div>
</body>
</html>