@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

body{
    
    background-color: #e1ffd5 ;

}

.header{
    background-color: #92b577;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
}



.header .logo img{
    position: absolute;
    left: 75px;
    top: 5px;
    height: 70px;
    width: auto;
    border-radius: 1em;
    transition: all 0.7s;
}

.header .logo img:hover{
    transform: scale(1.1);
}


.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
    transition: all 0.7s;
    
}

.header .nav-links li:hover{
    transform: scale(1.3);
}

.header .nav-links a{
    font-size: 700;
    color: #090b0c;
    text-decoration: none;
    
}


.header .nav-links li a:hover{
    color: blue;
   
    
}


.header .btn button{
    font-weight: 700;
    color: #000000;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: #e2f1f8;
    color: #0800ff;
    transform: scale(1.1);
}

section{
    position: absolute;
    top: 1000px;
    left: 630px;
    display: flex;
    width: 600px;
    height: 430px;
}

section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .9;
    transition: .5s ease;
}

section img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}


.caja-negra {
    position: absolute;
    top: 1500px;
    width: 1905px;
    height: 145px;
    background-color: #2f3136;
    color: white;
    padding: 20px;
    text-align: left;
  }
  

  .caja-negra p {
    font-size: 24px;
    margin: 0;
    
  }
  
.pq{
    position: absolute;
    left: 400px;
    top: 17px;
    color: white;
    text-decoration: underline;

}

  .caja-negra i.bxl-facebook-circle {
    font-size: 47px; /* Cambia el tamaño del icono según tus preferencias */
    position: absolute; /* Permite el posicionamiento absoluto */
    top: 58px; /* Ajusta la posición vertical del icono */
    left: 30px; /* Ajusta la posición horizontal del icono */
    color: rgb(7, 126, 223);
  }

  .caja-negra i.bxl-whatsapp{
    font-size: 47px; 
    position: absolute; 
    top: 58px; 
    left: 88px; 
    color: rgb(67, 223, 75);
  }

  .caja-negra i.bxl-instagram{
    font-size: 48px; 
    position: absolute; 
    top: 58px; 
    left: 145px; 
    color: rgb(238, 60, 149);
  }

  
  .caja-negra i.bx-envelope{
    font-size: 45px; 
    position: absolute; 
    top: 60px; 
    left: 210px; 
    color: red;
  }

  .lista{
    position: absolute;
    left: 425px;
  }

  .maps{
    position: absolute;
    left: 850px;
    top: 17px;
    color: white;
  }

  .direccion{
    position: absolute;
    left: 870px;
    top: 55px;
  }