@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(/static/images/R.jpeg);
    background-size: 1980px 1070px;
    
}

.registrar{
    position: absolute;
    top: 150px;
    width: 570px;
    height: 700px;
    background: #92b577;
    border:2px solid rgb(0, 0, 0);
    border-radius: 1em;
    padding: 30px 40px;
}

.registrar h1{
    font-size: 36px;
    text-align: center;

}

.registrar .input-contenedor {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    color: #000000;
}


.input-contenedor input{
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    border: none;
    outline: none;
    border: 2px solid ;
    border-radius: 40px;
}

.input-contenedor input::placeholder {
    color: rgb(0, 0, 0);
}

.input-contenedor i {
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.button{
    width: 100%;
    height: 45px;
    background-color: azure;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-top: 40px;

}

.registrar .login-link{
    font-size: 14.5px;
    text-align: center;
    margin: 45px 0 15px;
}

.login-link{
    margin-top: 20px;
    color: rgb(0, 0, 0);
    font-weight: 600;

    
}

.login-link  p a:hover {
    text-decoration: underline;
    
}

.registrar .input-contenedor ::placeholder{
    position: absolute;
    left: 15px;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    height: 50px;
    margin: 6px 10px;
    color: #000000;
    background: rgb(255, 255, 255);
    outline: none;
    border: 2px solid ;
    border-radius: 40px;
}
